[tool.black]
line-length = 100
target-version = ['py37', 'py38', 'py39', 'py310', 'py311']
include = '\.pyi?$'
force-exclude = '''
'''

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"